<div id="oneBeer">
    <img id="beerImg" src={{this.image_url}} alt="beer image">
    <div id="info">
        <h3>{{this.name}}</h3>
        <p id="tagline">{{this.tagline}}</p>
        <p id="description">{{this.description}}</p>
    </div>
    
</div>