<div id="home">
    <img id="beerImg" src="/images/beer.png" alt="beer">
    <div id="buttons">
        <a id="button" href="/beers">Check the Beers!</a>
        <a id="button" href="/random-beers">Check a Random Beer!</a>
    </div>
    
</div>