/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

:root {
    --white: #f7f9f9;
    --light-blue: #2081c3;
    --dark-blue: #0a2c42;
    --grey: #bfbfbf;
    --font-family: Arial, Helvetica, sans-serif;

}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content:left;
    list-style: none;
    padding-left: 2rem;
}

nav ul li {
    padding: 1rem 2rem;
    font-weight: 600;
}

nav a:visited {
    color: var(--white);
}

a {
   text-decoration: none;
}

nav {
    background-color: var(--light-blue);
    height: 3rem;
}

#beerIndex{
    display: flex;
    height: 400px;
    margin: auto;
    padding: 3rem;
}

#buttons {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
}

#button {
    background-color: var(--light-blue);
    color: var(--white);
    padding: 1rem 2rem;
    margin: 1rem;
    text-align: center;
}

#beers {
    display: flex;
    flex-wrap: wrap;
    margin: 2.5rem;
}

#beers #beer #info h4,
#beers #beer #info ul,
#beers #beer #info #brewer {
    display: none;
}

#beer {
    flex-direction: row;
    align-items: center;
    width: 25%;
    margin: 2rem;
}

#beerImg {
    display: flex;
    width: auto;
    height: 300px;
    margin: auto;
    padding-bottom: 1rem;
}

#beer a,
#beer a:visited {
    text-decoration: none;
    color: black;
}

#tagline {
    color: var(--grey);
    margin-bottom: 1rem;
}

#description {
    margin-bottom: 1rem;
}

#oneBeer,
#random-beer {
    display: flex;
}

#oneBeer #beerImg,
#random-beer #beerImg {
    width: auto;
    height: 400px;
    margin: auto;
    margin-top: 3rem;
}

#info {
    width: 60%;
    margin: auto;
}

#info h3 {
    margin: 2rem 0rem;
}

#info ul li {
    margin: 0 0 0.5rem 2rem;
}

#brewer span {
    font-weight: 600;
}

#brewer {
    margin-top: 2rem;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: var(--dark-blue);
    color: var(--white);
    width: 100%;
    height: 4rem;
    padding: 1rem;
}